.container {
    background-color: #ffd67a;
    height: 100%; 
    width: 100%;
  }

.pr {
  color: #4d3418;
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 0.5%;
  margin-left: 30%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.left{
    width: 30%;
    height: 100%;
}

.right{
    width: 90%;
    height: 100%;
    margin-top: 2%;
    overflow: auto;
}

.picd{
    height: 50%;
}

/* profile pic */
.ab {
    margin-top: 3%;
    margin-left: 14%;
    height: 100%;
    width: 60%;
    margin-bottom: 1%;
}

.abc {
    color: #4d3418;
  text-align: left;
  font-weight: bolder;
  font-size: 25px;
    margin-left: 20%;
    margin-top: 2%;
}

.abca {
    color: #4d3418;
  text-align: left;
  font-weight: bolder;
  font-size: 25px;
    margin-left: 18%;
    margin-bottom: 5%;
}

.bottom{
    height: 30%;
}

/* button */
.ep{
    background-color: #fff7a7;
    border-radius: 10px;
    height: 120%;
    width: 150%;
    margin-left: 60%;
    border-color: #fff7a7;
    font-weight: bolder;
    font-size: large;
}

/* button div */
.epc{
    border-radius: 10px;
    height: 40%;
    width: 30%;
    margin-left: 5%;
    border-color: #fff7a7;
    margin-top: 1%;
}


.two{
    display: flex;
    justify-content: center;
}

.rc{
    background-color: #fff7a7;
    height: 80%;
    width: 95%;
        color: #4d3418;
        text-align: left;
        font-weight: 900;
        font-size: 20px;
        margin-top: 1%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 2%;
        padding: 1%;
        border-radius: 10px;
        text-shadow: none;
      
}

/* upcoming button */
.updbt{
    background-color: #f1c4e5;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    border-color: #f1c4e5;
    font-weight: bolder;
    font-size: medium;
    margin-top: 1%;
}

.updbta{
    background-color: #f1c4e5;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    border-color: #f1c4e5;
    font-weight: bolder;
    font-size: medium;
    margin-top: 1%;
}

.updbt.clicked,
.updbta.clicked {
  background-color: white;
  color: black;
}



.upd{
    margin-right: 3%;
}

.bts{
    display: flex;
    width: 20%;

}

.f1{
    background-color: #f1c4e5;
    border-radius: 10px;
    height: 30%;
    width: 30%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
}

.f2{
    background-color: #f1c4e5;
    border-radius: 10px;
    height: 30%;
    width: 30%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
}

.mdbtn{
    margin-left: 65%;
  
}

.mdmd{
    background-color: #fff7a7;
    border-radius: 10px;
    border-color: #fff7a7;
    width: 90%;
}

.ff{
    color: #4d3418;
    font-size: large;
    text-shadow: none;
}
